.wrapper-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backround-wrapper {
  height: 100vh;
  display: flex;
}
.backround-wrapper img {
  width: 100%;
}
.btn {
  padding: 15px;
  border: none;
  border-radius: 8px;
  color: #ffffff;
}
.send {
  margin-top: 10px;
  background-color: #2a4d77;
}
.cancel {
  background-color: hsla(356, 97%, 50%, 0.65);
  margin-bottom: 90px;
}

.erro {
  color: red;
}
