.login {
  width: 30.875rem;
  margin: auto;
  background: #44444d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 3.75rem;
}

.input {
  min-width: 18.75rem;
  padding-block: 18px;
  padding-left: 16px;
  background: #2e2e36;
  border: none;
}

.input::placeholder {
  color: white;
}

.text {
  font-size: 0.75rem;
  margin-bottom: 3.75rem;
}

.btnLogin {
  background: #da0175;
  border: none;
  padding-block: 18px;
  color: white;
  cursor: pointer;
}
