.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: purple;
  color: white;
  height: 80px;
  padding: 0 32px;

  position: sticky;
  top: 0;
  z-index: 1;
}

ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

ul li a {
  color: white;
}

.main {
  padding: 32px;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.card-cat img {
  height: 220px;
  width: 300px;
  margin-bottom: 10px;
}

.card-cat {
  border-radius: 10px;
  color: white;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  background-color: orange;
  width: 300px;
  height: 320px;
  text-decoration: none;
}


.card-cat:hover {
  opacity: 0.89;
}