* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  height: 200px;
  padding: 16px 32px;
  background-color: purple;
  color: white;
}

.logo {
  text-decoration: none;
  color: white;
}
