body {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

  padding: 32px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 300px;
  height: 200px;
  padding: 16px;

  background-color: lightgray;
  border: 1px solid black;
  border-radius: 7px;
}

.card h1 {
  margin-bottom: 32px;
}

.card span {
  display: block;
  margin-bottom: 4px;
}