.container {
  display: flex;
  flex-direction: column;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 32px;
  align-items: center;
  border-bottom: 1px solid #6a6363;
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.playList {
  width: 1121px;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
}

h1 {
  text-align: left;
}

.container-cards {
  display: flex;
  gap: 27px;
}
.control-playlist {
  padding-left: 32px;
  display: flex;
  align-self: center;
  padding-block: 15px;
  background: linear-gradient(180deg, #383535 0%, rgba(133, 130, 130, 0) 100%);
  background-repeat: no-repeat;
}

.playList-container {
  display: flex;
}

.control {
  margin: 0 auto;
}

.control-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.control img {
  cursor: pointer;
}

.control-visual {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 8px;
}

.control-visual .range-music {
  width: 560px;
}
input[type="range"] {
  margin: 4px 0;
  width: 100%;
}
