.header-container {
  display: flex;
  justify-content: space-between;
  padding-block: 32px;
  align-items: center;
  border-bottom: 1px solid #6a6363;
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
}

.playList {
  width: 1121px;
  flex-direction: column;
  text-align: left;
  margin: 0 auto;
}

h1 {
  text-align: left;
}

.container-cards {
  display: flex;
  gap: 27px;
}
