* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: #ccc3c3;
  height: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
  border: 1px solid #e6007a;
  padding: 2px;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #e6007a;
  cursor: pointer;
  box-shadow: 1px 1px 1px #e6007a, 0px 0px 1px #e6007a;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, #0c0505 0%, #3a3535 47.92%, #5e5858 100%);
  background-repeat: no-repeat;
  color: white;

  min-height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
