* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  min-height: 100vh;

  font-family: sans-serif;

  background-color: black;
}

.game {
  width: 1280px;
  height: 720px;

  background-image: url("../assets/scene.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;
}

.character {
  position: absolute;
  width: 75px;
  right: 2px;
}
