input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  background: #ccc3c3;
  height: 4px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
  border: 1px solid hsla(328, 100%, 45%, 1);
  padding: 2px;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;

  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #e6007a;
  cursor: pointer;
  box-shadow: 1px 1px 1px #e6007a, 0px 0px 1px #e6007a;
}

input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
