#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.form {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.form-input,
.btn-register {
  padding: 10px 0 10px 8px;
}

.list-users {
  margin-top: 30px;
  border: 1px solid lightgray;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
