header {
  width: 100%;
  height: 140px;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.arrow-back {
  position: absolute;
  left: 48px;
  top: 48px;
  cursor: pointer;
}