.cat-detail {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
}

.cat-detail img {
  width: 800px;
  height: 500px;
  margin: 32px 0 24px 0;
}

.cat-detail p {
  text-align: justify;
}

.back-button {
  margin-top: 32px;
  width: 100%;
  border-radius: 7px;
  padding: 12px 32px;
  text-transform: uppercase;
  text-align: center;
  background-color: orange;
  color: white;
}

.back-button:hover {
  opacity: 0.8;
}
