body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

button {
  width: 80px;
}
